.hero__content h2 {
  font-weight: 600;
  line-height: 55px;
}

.hero__content {
  padding-top: 80px;
}
.search input {
  border: none;
  outline: none;
  padding: 7px 10%;
}

.search {
  width: 60%;
  border: 1px solid #17bf9d44;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  margin-top: 20px;
}

.signup_button{
  padding: 10px 40px;
  background-color: #17bf9e;
  border-color: #0a2b1e;
  border-radius: 5px;
}
.signup_button:hover{
  color: #17bf9e;
  background-color: transparent;
 }
